{% extends 'index.html' %}

{% block title %}
    My Homepage
{% endblock %}


{% block navigation %}
    <nav class="navigation">
        <a href="/dashboard">Home</a>
        <a href="/workouts">My Workouts</a>
        <a href="/logout">Log out</a>
    </nav>
{% endblock navigation %}


{% block main %}
<div class="progress">
    <h1>My Progress</h1>
    <div class="container_progress">
        <div class="row_progress">
            <div class="progress_bar">
                <div class="bar_outer">
                    <div class="bar_inner">
                        <div id="number">
                            
                        </div>
                    </div>
                </div>

                <svg xlmns="http://www.w3.org/2000/svg" version="1.1"
                width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63"/>
                            <stop offset="100%" stop-color="#673ab7"/>
                        </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="progress_bar">
                <div class="bar_outer">
                    <div class="bar_inner">
                        <div id="number">
                            
                        </div>
                    </div>
                </div>

                <svg xlmns="http://www.w3.org/2000/svg" version="1.1"
                width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63"/>
                            <stop offset="100%" stop-color="#673ab7"/>
                        </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<script>
let number = document.getElementById("number");
let counter = -1;
setInterval(() => {
    if(counter == 70){
        clearInterval();
    } else {
        counter +=1;
        number.innerHTML = counter + "%"
    }
}, 21);

</script>
</body>
</html>
{% endblock main %}