<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6868e233ed.js" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>

    <title>WRKOUT: {% block title %}Home{% endblock %}</title>
</head>

<!--------------------------------------------------------------------- NAVBAR ------------------------------------------------------------------------------------------------------->
<body>
    <header>
        <h2 class="logo">WRKOUT</h2>
        {% block navigation %}
        <nav class="navigation">
            <a href="/">Home</a>        
            <a href="#about">About</a>
            <a href="/login">Login</a>
        </nav>
        {% endblock navigation %}
    </header>

    <main>
        {% block main %}
        <div class="welcome">
        <h1 class="title">Welcome to <span>WRKOUT</span></h1>
            <p>YOUR go-to place to achieve your fitness goals!</p>
            <br><br>
        </div>  
          <a class="scroll">
            <p>Scroll for more info</p>
          </a>
          <i class="fa-sharp fa-solid fa-chevron-down"></i>

        <!--------------------------------------------------------------- ABOUT SECTION ---------------------------------------------------------------------------------------------->
        <div id="about">
            <div class="container">
                  <h1 class="sub-title2">ABOUT WRKOUT</h1>
                  <div class="hobby-list">
                      <div class="hobby1">
                        <img src="/static/pictures/card-05.webp" alt="" loading="eager">
                        <div class="layer">
                          <i class="fa-solid fa-user-plus"></i>
                          <h3>Create Account</h3>
                          <p>
                            Have you always wanted your own fitness companion app that helps you keep track of your workouts?
                            Well look no further because we've got you covered!
                            Sign up now for free to create your own account so you can start logging all your valuable fitness progress.
                          </p>
                        </div>
                      </div>
                      <div class="hobby1">
                        <img src="/static/pictures/card-01.webp" alt="" loading="eager">
                        <div class="layer">
                          <i class="fa-solid fa-pen-to-square"></i>
                          <h3>Log or modify workouts</h3>
                          <p>
                            Log any sort of fitness or athletic progress along the lines of running, weightlifting, cycling et cetera. 
                            Easily add new workouts, or modify existing ones.
                          </p>
                        </div>
                      </div>
                      <div class="hobby1">
                        <img src="/static/pictures/card-10_1.webp" alt="" loading="eager">
                        <div class="layer">
                          <i class="fa-solid fa-dumbbell"></i>
                          <h3>Reach Your Goals</h3>
                          <p>
                            Set a goal for yourself and achieve it by staying consistent. Want to shred some fat? We've got you covered. <br> 
                            Want to reach that new PR? Create your own training schedule or contact us for face to face coaching!
                          </p>
                        </div>
                      </div>
                  </div>
                  <br><br>
                  <div class="signup">
                    <a href="/register" class="register-link">Sign up today for FREE!</a>
                  </div>
            </div>
        </div>
        <div id="contact">
          <div class="container_contact">
            <div class="row_contact">
              <div class="contacts">
                <h1>My contacts</h1>
                <br>
                <p>
                  For any inquiries about the website and/or coaching feel free to either email or text me.
                </p>
                <p><i class="fa-solid fa-envelope"></i> loremipsum@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> +31 6 12345678</p>
              </div>
            </div>
          </div>
          <div class="copyright">
            <p>Copyright &#169 Maxim Koltypin 2023.</p>
          </div>
        </div>
        {% endblock %}
    </main>

    <!------------------------------------------------------------ FLASH MESSAGES -------------------------------------------------------------------------------------------------------->
<div class="flash-wrapper">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-message">
            {% for message in messages %}
                <div class="flash-message">{{ message }} </div>                    
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
</div>
</body>
</html>