{% extends 'dashboard.html' %}

{% block title %}
    My Workouts
{% endblock title %}

{% block main %}
<h1 class="my_workouts_title">My Workouts</h1>
<div class="wrapper_workouts_page">
    <div class="container_workouts_page">
        <div class="my_workouts">
            {% for workout in workouts %}
            <div class="workout">
                <p>Workout type: {{ workout.workout_type }}</p>
                <p>Date: {{ workout.date }}</p>
                <p>Distance: {{ workout.distance }}</p>
                <p>Time: {{ workout.time }}</p>
                <p>Exercise: {{ workout.exercise }}</p>
                <p>Completed: {{ workout.completed }}</p>
                <div class="workout-actions">
                    <a href="{{ url_for('edit_workout', workout_id=workout[0]) }}" class="edit-button">Edit</a>
                    <a href="{{ url_for('delete_workout', workout_id=workout[0]) }}" class="delete-button">Delete</a>
                </div>
            </div>
            {% endfor %}
            <ul>
                {% for workout in workouts %}
                <li>{{ workout }}</li>
                {% endfor %}
            </ul>
            <div class="add-workout-button">
                <a href="/dashboard" class="btn btn-primary">Add New Workout</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
