{% extends 'dashboard.html' %}

{% block title %}
    Edit Workout
{% endblock title %}

{% block main %}
<form action="/edit_workout/{{ workout.id }}" method="post">
    <h1 class="add_workout_new">Edit Workout</h1>
    <div class="wrapper_workouts">
        <div class="container_workouts">
            <div class="box1">
            {% if workout.workout_type == 'fitness' %}
            <form action="/edit_workout/{{ workout.id }}" method="post">
                <input type="hidden" name="workout_type" value="fitness">
                <input type="hidden" name="workout_type" value="fitness">
            <div class="input-box">
                <label for="date"></label>
                <input type="date" name="date" value="{{ workout.date }}" required>
            </div>
            <div class="input-box">
                <label for="exercise"></label>
                <input type="text" name="exercise" placeholder="Exercise" value="{{ workout.exercise }}" autocomplete="off" required>
            </div>
            <div class="input-box">
                <label for="sets"></label>
                <input type="number" name="sets" placeholder="Number of sets" value="{{ workout.sets }}" required>
            </div>
            <div class="input-box">
                <label for="reps"></label>
                <input type="number" name="reps" placeholder="Number of reps per set" value="{{ workout.reps }}" required>
            </div>
            <div class="input-box">
                <label for="time"></label>
                <input type="number" name="time" placeholder="Time (minutes)" value="{{ workout.time }}" required>
            </div>
            <div class="input-box">
                <label for="notes"></label>
                <input type="text" name="notes" placeholder="Additional Notes: (weights used, heavy sets etc.)" value="{{ workout.notes }}" autocomplete="off">
            </div>
            <p>Have you completed this workout?</p>
            <label class="switch">
                <input type="checkbox" name="completed" {% if workout.completed %}checked{% endif %}> 
                <span class="slider round"></span>
            </label>
            <br>
            <button type="submit" class="btn btn-primary">Update Workout</button>
            </form>

            {% elif workout.workout_type == 'running' %}
            <form action="/edit_workout/{{ workout.id }}" method="post">
                <input type="hidden" name="workout_type" value="running">
                <div class="input-box">
                    <label for="date"></label>
                    <input type="date" name="date" value="{{ workout.date }}" required>
                </div>
                <div class="input-box">
                    <label for="distance"></label>
                    <input type="number" name="distance" step="0.01" placeholder="Distance (km)" value="{{ workout.distance }}" required>
                </div>
                <div class="input-box">
                    <label for="time"></label>
                    <input type="number" name="time" placeholder="Time (minutes)" value="{{ workout.time }}" required>
                </div>
                <div class="input-box">
                    <label for="notes"></label>
                    <input type="text" name="notes" placeholder="Additional Notes: (How did it go? What type of run was it?)" value="{{ workout.notes }}" autocomplete="off">
                </div>
                <p>Have you completed this workout?</p>
                <label class="switch">
                    <input type="checkbox" name="completed" {% if workout.completed %}checked{% endif %}>
                    <span class="slider round"></span>
                </label>
                <br>
                <button type="submit" class="btn btn-primary">Update Workout</button>
            </form>

            {% elif workout.workout_type == 'swimming' %}
            <form action="/edit_workout/{{ workout.id }}" method="post">
                <input type="hidden" name="workout_type" value="swimming">
                <div class="input-box">
                    <label for="date"></label>
                    <input type="date" name="date" value="{{ workout.date }}" required>
                </div>
                <div class="input-box">
                    <label for="distance"></label>
                    <input type="number" name="distance" step="0.01" placeholder="Distance (km)" value="{{ workout.distance }}" required>
                </div>
                <div class="input-box">
                    <label for="time"></label>
                    <input type="number" name="time" placeholder="Time (minutes)" value="{{ workout.time }}" required>
                </div>
                <div class="input-box">
                    <label for="notes"></label>
                    <input type="text" name="notes" placeholder="Additional Notes: (How did it go? What sort of swim did you do?)" value="{{ workout.notes }}" autocomplete="off">
                </div>
                <p>Have you completed this workout?</p>
                <label class="switch">
                    <input type="checkbox" name="completed" {% if workout.completed %}checked{% endif %}>
                    <span class="slider round"></span>
                </label>
                <br>
                <button type="submit" class="btn btn-primary">Update Workout</button>
            </form>
            {% endif %}
            </div>

            {% if workout.workout_type == 'fitness' %}
            <div class="box2">
                <h2>{{ workout.workout_type.capitalize() }}</h2>
            </div>
            {% elif workout.workout_type == 'running' %}
            <div class="box3">
                <h2>{{ workout.workout_type.capitalize() }}</h2>
            </div>
            {% elif workout.workout_type == 'swimming' %}
            <div class="box4">
                <h2>{{ workout.workout_type.capitalize() }}</h2>
            </div>
            {% endif %}
        </div>
    </div>
</form>
{% endblock main %}
