{% extends "index.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="form-box login">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="input-box">
                <i class="fa-solid fa-user"></i>
                <input autofocus  id="username" name="username" placeholder="Username" type="text" autocomplete="new-username" required>
            </div>
            <div class="input-box">
                <i class="fa-solid fa-lock"></i>
                <input id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" name="remember_me">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <br>
        <div class="login-register">
            <p>Don't have an account yet?
                <a href="/register" class="register-link">Register Here!</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}