{% extends 'dashboard.html' %}

{% block title %}
    My Workouts
{% endblock title %}

{% block main %}
<h1 class="my_workouts_title">My Workouts</h1>
<div class="wrapper_workouts_page">
    <div class="container_workouts_page">
        {% if workouts %} 
        <div class="my_workouts">
            {% for workout in workouts %}
            <div class="workout {% if workout['completed'] == 'on' %}completed{% else %}incomplete{% endif %}">
                <ul class="wkt1">Workout</ul>
                <ul class="wkt2">Exercise</ul>
                <ul class="wkt3">Date</ul>
                <ul class="wkt4">Distance (in km's)</ul>
                <ul class="wkt5">Time</ul>

                <ul class="wkt6">{{ workout['workout_type'] }}</ul>
                <ul class="wkt7">{{ workout['exercise'] }}</ul>
                <ul class="wkt8">{{ workout['date'] }}</ul>
                <ul class="wkt9">{{ workout['distance'] }}</ul>
                <ul class="wkt10">{{ workout['time'] }} minutes</ul>
                <div class="workout-actions">
                    <a href="{{ url_for('edit_workout', workout_id=workout[0]) }}" class="edit-button">Edit</a>
                    <a href="{{ url_for('delete_workout', workout_id=workout[0]) }}" class="delete-button">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="no_workouts">
            <p>It looks like you have no workouts logged yet...</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main %}
